<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MakeUpMate</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand"
                href="https://drive.google.com/drive/folders/1Qe2_pvZ8Bp7UU3__WLqwkkZ6mb1vprxA?usp=sharing"
                role="button" target="_blank" rel="noopener noreferrer">MakeUpMate</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('api') }}">
                            API Documentation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('team') }}">
                            Our Team
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top: 72px;">
        <h1>API Documentation</h1>
        <br>
        <div class="list-group">
            <a href="/api/login" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Login</h5>
                </div>
                <ul>
                    <li>Body Request
                        <p>{
                            “email” : “317damar@gmail.com”,
                            “password”: ”123456”
                          }
                          </p>
                    </li>
                    <li>Response (Example)
                        <p>{"token" : "aaaaaaaaa"}</p>
                    </li>
                </ul>
                <small class="text-muted">This API only if you try our API not in our app, implementation on our app is
                    direct access to Firebase. And the account is only for demo, if you want to register your email, you
                    can register in our app.</small>
            </a>
            <a href="/predict" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Predict</h5>
                </div>
                <ul>
                    <li>Authorization - Header 
                        <p>{ “token” : “(token from firebase / api login)” }
                          </p>
                    </li>
                    <li>Body Request
                        <p>{ “image” : “(string image)” }
                          </p>
                    </li>
                    <li>Response (Example)
                        <p>{
                            "bestMatch": "https://storage.googleapis.com/makeuplook/Makeup%20Look/1/Dasha%20Taran%20(%40taaaraannn)%20_%20Twitter.jpeg",
                            "hex1": "#DAC7A9",
                            "hex2": "#DAC6AB",
                            "hex3": "#D2B69E",
                            "prediction": 1,
                            "recom2": "https://storage.googleapis.com/makeuplook/Makeup%20Look/1/Get%20the%20We%20Heart%20It%20app!.jpeg",
                            "recom3": "https://storage.googleapis.com/makeuplook/Makeup%20Look/1/Tendencias%20de%20maquillaje%20para%20usar%20todos%20los%20d%C3%ADas_.jpeg",
                            "skintone": "https://storage.googleapis.com/makeuplook/Skin%20Tone%20Color/1.png"
                        }</p>
                    </li>
                </ul>
                <small class="text-muted">Use string image (not the image url) in body of request</small>
            </a>
        </div>
    </div>


</body>

</html>