<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>MakeUpMate</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand"
        href="https://drive.google.com/drive/folders/1Qe2_pvZ8Bp7UU3__WLqwkkZ6mb1vprxA?usp=sharing" role="button"
        target="_blank" rel="noopener noreferrer">MakeUpMate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/">
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('api') }}">
              API Documentation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('team') }}">
              Our Team
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://storage.googleapis.com/makeuplook/Our%20Team/logo_m.png" class="d-block mx-lg-auto img-fluid" alt="MakeUpMate Logo" width="700" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">MakeUpMate</h1>
        <p class="lead">Mobile cloud-based program makes individualized suggestions for the best concealers, base products, and correctors to brighten your skin tone and conceal imperfections.</p>
        <p class="lead">You can download our app in <span><a
          href="https://drive.google.com/drive/folders/1Qe2_pvZ8Bp7UU3__WLqwkkZ6mb1vprxA?usp=sharing"
          target="_blank">here</a></span>
        </p>
      </div>
    </div>
  </div>

</body>

</html>